.categories-container {
    margin-top: 10px;
    text-align: center;
}

.categories-container button {
    border-radius: 25px;
    margin: 5px;
}

.categories-container .MuiButton-containedPrimary:hover {
    background-color: #f73378;
}